<!DOCTYPE html>
<html>
<div th:include="index :: head">
  <style>
    .checked {
      color: orange;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>

<body>

<div th:replace="index :: header">...</div>

<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-note">Featured Course</div>
          <h3 th:text="${course.title}"></h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="cm-info">
                <h6>Instructor</h6>
                <p th:text="${course.instructor.username}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Description</h6>
                <p th:text="${course.description}"></p>
              </div>
            </div>
          </div>

            <h5 align="center" style="color:#878787;">Rating</h5>

          <div th:if="${rateList == null}">
            <h4 align="center" style="color:tomato">No Rating Available</h4>
          </div>

            <table>
              <tr>
                <th>Rating(star)</th>
                <th>Name</th>
              </tr>

              <tr th:each="r : ${rateList}">
                <td>
                    <div th:if="${r.rating == 0}">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${r.rating == 1}">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${r.rating == 2}">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${r.rating == 3}">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${r.rating == 4}">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${r.rating == 5}">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                    </div>
                </td>
                <td><span th:text="${r.student.username}"> Student </span></td>
              </tr>
            </table>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
