<!DOCTYPE html>
<html>
<div th:include="index :: head"></div>
<body>
<!-- Header section -->
<div th:replace="index :: header">...</div>

<section class="hero-section">
  <div class="hero-image">
    <div class="hero-text">
      <h1>The best online learning online platform</h1>
    </div>
  </div>
</section>

<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-note">Featured Course</div>
          <h3 th:text="${course.title}"></h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="cm-info">
                <h6>Instructor</h6>
                <p th:text="${instructor}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Description</h6>
                <p th:text="${course.description}"></p>
              </div>
            </div>
          </div>
          <div class="course-meta">
            <h5 align="center" style="color:#878787;"> Material</h5>

            <div th:if="${materialList == null || materialList.isEmpty()}">
              <h4 align="center" style="color:tomato">No Material Available</h4>
            </div>

            <table>
              <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Manage</th>
              </tr>
              <tr th:each="m : ${materialList}">
                <td><span th:text="${m.title}"> Course </span></td>
                <td><a th:href="@{${m.url}}" th:text="${m.url}"> Teacher </a></td>
                <td> <a th:href="@{/courseInteraction/} + ${course.id}">Go</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
