<!DOCTYPE html>
<html>
<head>
  <title>LearningX</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

<body>
<!-- Header section -->
<header class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h2>Learning X</h2>
      </div>
      <div class="col-lg-9 col-md-9">
        <a th:href="@{/login}" class="site-btn header-btn" id="loginout">Login</a>
        <nav class="main-menu">
          <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/courses}">Courses</a></li>
            <li><a th:href="@{/me}">My Page</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header section end -->


<input id="sessionUsername" type="hidden" th:value="${session.username}" />
<p id="read" th:text="${session.username}" style="color:white">Session</p>

<script th:inline="javascript">
    var cookieuser = document.getElementById("sessionUsername").value;

    document.getElementById("read").innerHTML = cookieuser;

    var link = document.getElementById("loginout");
    if (cookieuser != "") {
        link.innerHTML = "Logout";
        link.setAttribute('href', "logout");
    } else {
        link.innerHTML = "Login";
        link.setAttribute('href', "login");
    }
</script>


<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-note">Featured Course</div>
          <h3 th:text="${course.title}"></h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="cm-info">
                <h6>Instructor</h6>
                <p th:text="${course.instructor.username}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Description</h6>
                <p th:text="${course.description}"></p>
              </div>
            </div>
          </div>
          <div class="course-meta">
            <h5 align="center" style="color:#878787;"> Material</h5>

            <div th:if="${homeworkList == null}">
              <h4 align="center" style="color:tomato">No Material Available</h4>
            </div>

            <table>
              <tr>
                <th>Title</th>
                <th>Url</th>
              </tr>
              <tr th:each="m : ${materialList}">
                <td><span th:text="${m.title}"> Course </span></td>
                <td><a href="${m.content}" th:text="${m.content}"> Teacher </a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
