<!DOCTYPE html>
<html>
<head>
  <title>LearningX</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

<body>
<!-- Header section -->
<header class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h2>Learning X</h2>
      </div>
      <div class="col-lg-9 col-md-9">
        <div th:if="${session.userid == null}">
          <a th:href="@{/login}" class="site-btn header-btn" >Login</a>
        </div>
        <div th:if="${session.userid != null}">
          <a th:href="@{/logout}" class="site-btn header-btn" >Logout</a>
        </div>
        <nav class="main-menu">
          <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/courses}">Courses</a></li>
            <li><a th:href="@{/me}">My Page</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header section end -->

<!-- search section -->
<section class="login-section">
  <div class="container center">
    <h4 style="color:#878787;">Search course</h4>
    <div class="row">
      <div class="col-md-10  offset-md-1">
        <!-- search form -->
        <form id="searchform"  th:action="@{/search}" method="post">
          <input id = "keyword" type="text" name="name" placeholder="Enter course" required>
          <button class="site-btn">Search Course</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->


<!-- all course section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h4  style="color:#878787;">All Courses</h4>
    </div>
    <div class="row" th:each="course: ${courseList}">
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-text">
            <h5 th:text="${course.title}"></h5>
            <p th:text="${course.description}"></p>
            <span th:text="${course.instructor.username}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Most Pop course section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h4  style="color:#878787;">Most Popular Courses</h4>
    </div>
    <div class="row" th:each="most: ${mostPopList}">
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-text">
            <h5 th:text="${most.title}"></h5>
            <p th:text="${course.description}"></p>
            <span th:text="${course.instructor.username}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Least Pop course section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h4  style="color:#878787;">Least Popular Courses</h4>
    </div>
    <div class="row" th:each="least: ${leastPopList}">
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-text">
            <h5 th:text="${least.title}"></h5>
            <p th:text="${course.description}"></p>
            <span th:text="${course.instructor.username}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
