<!DOCTYPE html>
<html>
<head>
  <title>LearningX</title>
</head>


<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

<body>
<!-- Header section -->
<header class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h2>Learning X</h2>
      </div>
      <div class="col-lg-9 col-md-9">
          <a th:href="@{/login}" class="site-btn header-btn" id="loginout">Login</a>
        <nav class="main-menu">
          <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/courses}">Courses</a></li>
            <li><a href="#">About us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header section end -->
<section class="hero-section">
  <div class="hero-image">
    <div class="hero-text">
      <h1>The best online learning online platform</h1>
    </div>
  </div>
</section>


<p id="read" style="color:white;">C Paragraph</p>

<script th:src="@{/js/myScript.js}"></script>
<script th:inline="javascript">
    var cookieuser = getCookie("username");

    document.getElementById("read").innerHTML = cookieuser;

    var link = document.getElementById("loginout");
    if (cookieuser != "") {
        link.innerHTML = "Logout";
        link.setAttribute('href', "logout");
    } else {
        link.innerHTML = "Login";
        link.setAttribute('href', "login");
    }
</script>


<!-- search section -->
<section class="search-section">
  <div class="container center">
    <h2>Search course</h2>
    <div class="row">
      <div class="col-md-10  offset-md-1">
        <!-- search form -->
        <form id="searchform"  th:action="@{/search}" method="post">
          <input id = "keyword" type="text" name="name" placeholder="Enter course" required>
          <button class="site-btn">Search Course</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->

<!-- categories section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Our Series</h2>
      <p>There will be always a series that is suitable for you</p>
    </div>

    <div class="row" th:each="s: ${series}">
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-text">
            <h5 th:text="${s.name}"></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- categories section end -->

</body>
</html>
