<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<body>
<!-- search section -->
<section class="login-section">
  <div class="container center">
    <h2>Login</h2>

    <form id="loginForm" action="#" th:action="@{/login}" method="post">
      <br>
      <input type="text" placeholder="Enter Username" id="username" name="username" th:value="*{username}" required>
      <br>
      <br>
      <input type="password" placeholder="Enter Password" id="password" name="password" th:value="*{password}" required>
      <br>
      <br>
      <button class="site-btn">Login</button>
    </form>
    <br>
    <p> If you haven't signed up, please signed up first.</p>
    <a th:href="@{/signup}">Sign up</a>
    <br>
    <br>
    <h4 style="color:tomato" th:text="${message}"></h4>
  </div>
</section>


</body>
</html>
