<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LearningX</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <h1>Placeholder for header</h1>
</header>
<body>
<section>
    <div class="container center">
        <form method="post" action="#" th:object="${institute}" th:action="@{/me/addInstitute}">
            <h3>Add a new institute</h3>

            <label for="username">Username: </label>
            <input type="text" th:field="*{username}"/>
            <br/>
            <label for="password">Password: </label>
            <input type="text" th:field="*{password}" />
            <br/>
            <input type="submit" value="Add">
        </form>
    </div>
</section>
</body>
</html>