<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="index :: head"></div>
<body>
<div th:replace="index :: header">...</div>
<section class="single-course spad pb-0">
    <div class="container" th:if="${not #lists.isEmpty(courses)}">
        <h3>The course taught by you:</h3>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.getTitle()}">Text..</td>
                <td th:text="${course.getDescription()}">Text..</td>
                <td><a th:href="@{/course_temp}">Go to course</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>