<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<body>
<!-- search section -->
<section class="login-section">
  <div class="container center">
    <h2>Sign up</h2>
    <br>
    <form id="signupForm" action="#" th:object="${user}"  th:action="@{/signup}" method="post">
      <table align="center">
        <tr>
          <td>
            <label >Username: </label>
          </td>
          <td>
            <input type="text" name="username" id="username" th:value="*{username}" required/>
          </td>
        </tr>
        <tr>
          <td>
            <label>Password: </label>
          </td>
          <td>
            <input type="password" name="password" id="password" th:value="*{password}" required/>
          </td>
        </tr>
        <!--<tr>-->
          <!--<td>-->
            <!--<label>Type: </label>-->
          <!--</td>-->
          <!--<td>-->
            <!--<select class="form-control" name="size" th:field="*{role}">-->
              <!--<option th:each="${T(com.learnx.demo.model.AppUserDto.Role).STUDENT}"-->
                      <!--th:text= "${T(com.learnx.demo.model.AppUserDto.Role).STUDENT}">-->
              <!--<option th:each="role : ${T(com.learnx.demo.model.AppUserDto.Role).values()}"-->
                      <!--th:value="${role}"-->
                      <!--th:text="${role}">-->
              <!--</option>-->
            <!--</select>-->
          <!--</td>-->
        <!--</tr>-->
      </table>
      <br>
      <button id="register" name="register" class="site-btn">Register</button>
      <br><br>
      <a th:href="@{/}">Home</a>
    </form>
    <br>
    <h4 style="color:tomato" th:text="${message}"></h4>
  </div>

</section>
</body>
</html>