<!DOCTYPE html>
<html>
<head>
  <title>LearningX</title>
  <meta charset="UTF-8">
  <style>
  </style>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <script  th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div th:replace="index :: header">...</div>

<section class="hero-section">
  <div class="hero-image">
    <div class="hero-text">
      <h1>The best online learning online platform</h1>
    </div>
  </div>
</section>

<script th:inline="javascript">
    $(document).ready(function(){
        $("#enrollsubmit").click(function(){

            $.ajax({
                url : 'http://localhost:8080/enrollCourse',
                data : {
                    euserid : $('#euserid').val(),
                    ecourseid : $('#ecourseid').val()
                },
                success : function(responseText) {

                    if(responseText == "true") {
                        $("#enrollsubmit").attr("disabled", true);
                        $("#enrollsubmit").val("Already Enroll");
                    } else {
                        $('#enrollStatus').text("enroll error!!");
                    }
                },
            });
        });
    });
</script>

<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-note">Featured Course</div>
          <h3 th:text="${course.title}"></h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="cm-info">
                <h6>Instructor</h6>
                <p th:text="${instructor}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Description</h6>
                <p th:text="${course.description}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Average Rating</h6>
                <p th:text="${average_rating}"></p>
              </div>
            </div>
            <br><br>
            <div class="course-meta">
              <div class="cm-info">
                <a th:href="@{/courses/rating/} + ${course.id}" >See Course's Ratings</a>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <a th:href="@{/courses/homework/} + ${course.id}" >See Course's Homework</a>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <a th:href="@{/courses/material/} + ${course.id}" >See Course's Materials</a>
              </div>
            </div>
            <br>
            <br>
          </div>
          <div th:if="${session.userid != null}">
            <div th:if="${enroll == false and complete == false }">
              <form>
                <input id="euserid" name="euserid" th:type="hidden"  th:value="${session.userid}" readonly/>
                <input id="ecourseid" name="ecourseid" th:type="hidden"  th:value="${course.id}" readonly/>
                <input id="enrollsubmit" type="button" class="site-btn price-btn" value="Enroll" />
              </form>
              <br>
              <h6 id="enrollStatus" style="color:tomato"></h6>
            </div>
            <div th:if="${enroll == true  and complete == false}">
              <h6  class="signup-btn">Already Enrolled</h6>
            </div>
            <div th:if="${complete == true}">
              <h6 class="signup-btn">Complete</h6>
            </div>
          </div>
          <div th:if="${session.userid == null}">
            <h6  class="signup-btn">Login to Enroll</h6>
          </div>

          <br><br>

        </div>
      </div>
    </div>
    <br>
  </div>
</section>

<!-- single course section end -->
<section class="search-section">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-metas">
            <h5>Post discussion:</h5>
            <p th:text="${session.username != null} ? ${session.username} : 'You have to login first!'" style="color:tomato"></p>
              <form action="#" th:object="${question}" th:action="@{/courses/} + ${course.id}" method="post">
                <label> Title </label><br>
                <textarea name="title" rows="1" cols="80" th:value="*{title}" required></textarea><br>
                <label> Content </label><br>
                <textarea name="content" rows="2" cols="80" th:value="*{content}" required> </textarea><br><br>
                <input type="hidden" id="userId" name="userId" th:value="*{userId}" readonly/>
                <input type="hidden" id="courseId" name="courseId" th:value="*{courseId}" readonly>
                <div th:if="${session.userid != null}">
                  <input id="discussSubmit" type="submit" class="site-btn price-btn" value="Submit" />
                </div>
                <div th:if="${session.userid == null}">
                  <h6 class="signup-btn">Please Login</h6>
                </div>
              </form>
          </div>
          <br><br>
          <div class="course-metas">
            <h6 align="center" style="color:#878787;">Discussion:</h6>
            <div th:if="${discussionList == null || discussionList.isEmpty()}">
              <h4 align="center" style="color:tomato"> No Discussion Available</h4>
            </div>
            <table>
              <tr>
                <th>Title</th>
                <th>Content</th>
                <th>User</th>
              </tr>
              <tr th:each="q : ${discussionList}">
                <td><span th:text="${q.title}"> title </span></td>
                <td><span th:text="${q.content}"> content </span></td>
                <td><span th:text="${nameMap.get(q.userId)}"> username </span></td>
              </tr>
            </table>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
