<!DOCTYPE html>
<html>
<div th:include="index :: head"></div>

<body>
<div th:replace="index :: header">...</div>

<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-note">Featured Course</div>
          <h3 th:text="${course.title}"></h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="cm-info">
                <h6>Instructor</h6>
                <p th:text="${instructor}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Description</h6>
                <p th:text="${course.description}"></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Average Rating</h6>
                <p th:text="${average_rating}"></p>
              </div>
            </div>
            <br><br>
            <div class="course-meta">
              <div class="cm-info">
                <form action="#" th:action="@{/getRatingByCourseId}" method="post">
                  <input id="courseid" name="courseid" th:type="hidden"  th:value="${course.id}" readonly/>
                  <button type="submit" class="link-button">See Course's Ratings</button>
                </form>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <form action="#" th:action="@{/getHomeworkByCourseId}" method="post">
                  <input id="courseid" name="courseid" th:type="hidden"  th:value="${course.id}" readonly/>
                  <button type="submit" class="link-button">See Course's Homework</button>
                </form>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <form action="#" th:action="@{/getMaterialByCourseId}" method="post">
                  <input id="courseid" name="courseid" th:type="hidden"  th:value="${course.id}" readonly/>
                  <button type="submit" class="link-button">See Course's Materials</button>
                </form>
              </div>
            </div>
            <br>
            <br>
          </div>
          <div th:if="${session.userid != null}">
            <div th:if="${enroll == false and complete == false }">
              <form action="#" th:action="@{/enrollCourse}" method="post">
                <input id="userid" name="userid" th:type="hidden"  th:value="${session.userid}" readonly/>
                <input id="courseid" name="courseid" th:type="hidden"  th:value="${course.id}" readonly/>
                <input type="submit" class="site-btn price-btn" value="Enroll" />
              </form>
            </div>
            <div th:if="${enroll == true  and complete == false}">
              <h6  class="signup-btn">Already Enrolled</h6>
            </div>
            <div th:if="${complete == true}">
              <h6 class="signup-btn">Complete</h6>
            </div>
          </div>
          <div th:if="${session.userid == null}">
            <h6  class="signup-btn">Login to Enroll</h6>
          </div>

          <br><br>

        </div>
      </div>
    </div>
    <br>
  </div>
</section>

<!-- single course section end -->
<section class="search-section">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="course-metas">
            <h5>Post discussion:</h5>
            <p th:text="${session.username != null} ? ${session.username} : 'You have to login first!'" style="color:tomato"></p>
              <form action="#" th:object="${question}" th:action="@{/discussion}" method="post">
                <label> Title </label><br>
                <textarea name="title" rows="1" cols="80" th:value="*{title}" required></textarea><br>
                <label> Content </label><br>
                <textarea name="content" rows="2" cols="80" th:value="*{content}" required> </textarea><br><br>
                <input id="userid" name="userid" th:type="hidden"  th:value="${session.userid}" readonly/>
                <input id="courseid" name="courseid" th:type="hidden"  th:value="${course.id}" readonly/>
                <div th:if="${session.userid != null}">
                  <input type="submit" class="site-btn price-btn" value="Submit" />
                </div>
                <div th:if="${session.userid == null}">
                  <h6 class="signup-btn">Please Login</h6>
                </div>
              </form>
          </div>
          <br><br>
          <div class="course-metas">
            <h6 align="center" style="color:#878787;">Discussion:</h6>
            <table>
              <tr th:if="${discussionList.empty}">
                <td colspan="2"> No Discussion Available</td>
              </tr>

              <tr>
                <th>Title</th>
                <th>Content</th>
                <th>User</th>
              </tr>
              <tr th:each="q : ${discussionList}">
                <td><span th:text="${q.title}"> Course </span></td>
                <td><span th:text="${q.content}"> Teacher </span></td>
                <td><span th:text="${q.appUser.username}"> Teacher </span></td>
              </tr>
            </table>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
