<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<body>


<!-- search section -->
<section class="login-section">
  <div class="container center">
    <h4 style="color:#878787;" th:text="${ 'Welcome:' + user.username + '!'}"></h4>
    <br><br>
    <a th:href="@{/}" align="center">Home</a>
    <br>
  </div>
</section>


<script th:src="@{/js/myScript.js}"></script>
<script th:inline="javascript">
    var username = /*[[${user.username}]]*/ "default";
    createCookie("username", username, 1);
    var userid = /*[[${user.id}]]*/ "default";
    createCookie("userid", userid, 1);
</script>


</body>
</html>
